aws_access_key = "XXX"

aws_secret_key = "XXXXXX"

provier_name = "kheiakiyama"

button_count = 1

lastmodified_key_prifix = "button_clicked"

metrics_key_prifix = "metrics"

button_prefix = "button"

timeout = 300
